/* utility class */

:root {
  --light-blue: rgba(27, 114, 232, 1);
  --grey: #E5E5E5;
}

img {
  max-width: 100%;
}

.app {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* aside  */
.app-toolbar {
  height: auto;
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.toolbar-content {
  display: flex;
}

/* main navbar */
.app-content {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
}

/* media query */
@media (min-width: 768px) {}

@media (min-width: 1200px) {}


/* debug */

.debug {
  border: 1px solid red;
  min-height: 30px;
}

[class^="col"] {
  border: 1px solid red;

}