/* utility class */

:root {
  --light-blue: rgba(27, 114, 232, 1);
  --grey: #E5E5E5;
}

img {
  max-width: 100%;
}

.app {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


/* toolbar ricerca  */
.app-toolbar {
  height: auto;
}

.img-toolbar {
  width: 80px;
}

.fa-magnifying-glass {
  color: black;
}

.fa-bell {
  color: orange;
}


/* navbar */
.app-content {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
}

.app-sidebar {
  width: 90px;
  background-color: black;
  overflow: hidden;
  flex-shrink: 0;
  height: 100%;
  background-image: url(../img/sidebar-bg.png);
  display: flex;
}

.sidebar-container-bottom {
  margin-top: auto;
}

.sidebar-content {
  flex-grow: 1;
  overflow: hidden;
}

/* hero content  */
.page-hero {
  overflow: auto;
}

/* main  */
.main-content {
  overflow: auto;
} 

.bg-color{
  background-color: var(--light-blue);
}

.table-main{
  border: 1px solid rgba(0, 0, 0, 0.273);
  border-radius: 2%;
}

/* media query */
@media (min-width: 768px) {
  .app-sidebar {
    width: 90px;
  }
}

@media (min-width: 1200px) {
  .app-sidebar {
    width: 150px;
  }
}


/* debug */

.debug {
  border: 1px solid red;

}


[class^="col"] {
  border: 1px solid red;

}